body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url(./assets/itajai.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  /* flex: 1 1 50%; */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  position: fixed;
  font-family: 'Quicksand', sans-serif;
  font-weight: bolder;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  box-shadow: 8px 8px 8px black;
  width: 100vw;
  height: 10vh;
  z-index: 10;
}

header>p {
  margin-left: 10%;
}

header>p::selection {
  background-color: transparent;
}

#sidebar {
  background-color: white;
  border: 1px solid black;
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  top: 10%;
  left: 0;
  z-index: 10;
  width: 5%;
  box-shadow: 8px 8px 8px black;
  transition: all 200ms ease-in-out;
}

@media (hover :hover) {
  #sidebar:hover {
    width: 15%;
  }

  aside:hover>.dropdowncontent>a {
    margin-left: 50%;
  }

  #description-btn:hover {
    color: rgb(255, 255, 255);
  }

  #description-btn:hover::before {
    display: block;
    background-color: rgb(255, 166, 0);
    width: 100%;
    height: 100%;
    border-radius: 100vw;
    inset: 0;
  }

  #btn-halry:hover,
  #btn-carlos:hover,
  #btn-bruno:hover {
    color: rgb(255, 255, 255);
  }

  #btn-halry:hover::before,
  #btn-carlos:hover::before,
  #btn-bruno:hover::before {
    display: block;
    background-color: rgb(255, 166, 0);
    width: 100%;
    height: 100%;
    border-radius: 100vw;
    inset: 0;
  }

  .produto-btn:hover {
    color: rgb(255, 255, 255);
  }

  .produto-btn:hover::before {
    display: block;
    background-color: rgb(255, 166, 0);
    width: 100%;
    height: 100%;
    border-radius: 100vw;
    inset: 0;
  }

  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .active,
  .dot:hover {
    background-color: #717171;
  }
}

.open {
  width: 15% !important;
}

.openSideBarIcons {
  margin-left: 50% !important;
}

.openDropDown {
  display: flex !important;
}

.dropdowncontent {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  place-items: center;
  overflow: hidden;
  justify-content: center;
  background-color: white;
  border: 1px solid black;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  box-shadow: 8px 8px 8px black;
  height: 90vh;
  width: 100%;
  flex-direction: column;
}

.dropdowncontent>a {
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  display: flex;
  width: 100%;
  flex: 0 0 20%;
  transition: 0.2s all ease-in-out;
  gap: 50px;
  margin-left: -200%;
}

.dropdowncontent>a>span {
  font-size: 20px;
}

.dropdowncontent>a>i {
  position: fixed;
  left: 1%;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

header>img {
  object-fit: contain;
  position: absolute;
  width: 100%;
  height: 100%;
}

.dropdownbtn {
  display: flex;
  position: absolute;
  left: 1%;
  align-items: center;
  background-image: url(./assets/bars-solid.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer !important;
  margin-top: 10px;
  width: 30px;
  z-index: 2;
  height: 30px;
}

button>img {
  width: 30px;
  height: 30px;

}

#description-text {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  width: 75%;
  min-height: 59%;
}

#description-title {
  display: flex;
  padding: 2rem;
  justify-content: center;
  align-self: start;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  text-align: center;
  width: 75%;
}

#description-container {
  display: flex;
  flex-direction: column;
  align-self: start;
  margin-left: 13%;
  position: relative;
  text-align: center;
  top: 11.2%;
  height: 30%;
  border-radius: 0px 0px 12px 12px;
  box-shadow: 8px 8px 8px black;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2px);
  width: 80%;
}

#description-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  border-radius: 100vw;
  position: absolute;
  flex: 1 1 20%;
  cursor: pointer;
  z-index: 2;
  color: white !important;
  box-shadow: 8px 8px 8px black;
  font-size: 15px;
  font-weight: bold;
  top: 30%;
  right: 3%;
  font-family: 'Quicksand', sans-serif;
  transition: 0.25s all ease-in-out;
  width: 15vw;
  height: 10vh;
  background-color: rgb(255, 56, 56);
}

#description-btn::before {
  content: "";
  transition: 0.25s all linear;
  position: absolute;
  width: 10%;
  height: 100%;
  color: white;
  inset: 0;
  border-radius: 100vw;
  z-index: -1;
}

#contact-selection {
  display: flex;
  flex-direction: row;
  position: relative;
  align-self: center;
  top: 21%;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  height: 60%;
  width: 60%;
  border: 2px solid black;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.6px);
  -webkit-backdrop-filter: blur(5.6px);
  box-shadow: 8px 8px 8px black;
}

#halry {
  height: 100%;
  width: 33.333%;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: aqua; */
  border-radius: 12px 0px 0px 12px;
  text-align: center;
}

#bruno {
  height: 100%;
  width: 33.333%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 2px solid black;
  font-family: 'Quicksand', sans-serif;
  /* background-color: green; */
  text-align: center;
}

#carlos {
  height: 100%;
  width: 33.333%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
  border-left: 2px solid black;
  /* background-color: red; */
  border-radius: 0px 12px 12px 0px;
  text-align: justify;
}

#carlos,
#halry,
#bruno {
  font-size: 25px;
  font-weight: bold;
  gap: 10%;
  color: black;
  justify-content: center;
}

#btn-halry,
#btn-bruno,
#btn-carlos {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  border-radius: 100vw;
  /* flex: 1 1 20%; */
  cursor: pointer;
  z-index: 2;
  color: white !important;
  margin-bottom: 5%;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
  position: relative;
  transition: 0.25s all ease-in-out;
  width: 100px;
  height: 50px;
  background-color: rgb(255, 56, 56);
  box-shadow: 8px 8px 8px black;
}

#btn-halry::before,
#btn-carlos::before,
#btn-bruno::before {
  content: "";
  transition: 0.25s all linear;
  position: absolute;
  width: 10%;
  height: 100%;
  color: white;
  inset: 0;
  border-radius: 100vw;
  z-index: -1;
}

#mail-tab {
  align-self: center;
  flex-direction: row;
  position: relative;
  align-self: center;
  top: 21%;
  left: 20%;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background-color: white;
  height: 60%;
  width: 60%;
  border-top: 2px solid black;
  border-left: 2px solid black;
  box-shadow: 8px 8px 8px black;
}

dialog>form {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 90%;
  margin-top: 3%;
  margin-left: 3%;
  gap: 5%;
}

dialog>form>label {
  color: black;
  font-family: 'Quicksand', sans-serif;
  text-align: start;
}

dialog>div {
  position: absolute;
  /* left: 0; */
  color: black;
  top: 10%;
  gap: 5%;
  color: black;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
  flex-direction: column;
  display: flex;
  right: 10%;
  height: 35%;
  width: 35%;
}


dialog>form>div>h1 {
  color: black;
}

#profile-img {
  border-radius: 100vh;
  aspect-ratio: 1/1;
}

.inputs {
  display: flex;
  font-family: 'Quicksand', sans-serif;
  border-radius: 7px;
  font-size: 24px;
  color: #ffffff;
  background-color: #1a1b26;
  padding: 0.5rem;
  width: 100%;
}

#message {
  text-align: start;
  height: 150%;
  resize: none;
  font-size: 16px;
}

#send {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  align-self: center;
  left: 30%;
  text-align: center;
  cursor: pointer;
}

#project-content {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.6px);
  -webkit-backdrop-filter: blur(5.6px);
  border: 1px solid rgba(49, 98, 92, 0.7);
  box-shadow: 8px 8px 8px black;
  width: 50%;
  height: 80%;
  /* background-color: red; */
  margin-top: 7%;

}

#img-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 25%;
  width: 35%;
}

#text-content {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-family: 'Quicksand', sans-serif;
  font-weight: 900;
  width: 85%;
  height: 70vh;
  text-align: center;
}

#text-content>h1 {
  color: red;
  font-size: 35px;
  font-weight: bolder;
  padding: 2%;
  text-decoration: underline;
  font-family: 'Oswald', sans-serif;
}

#text-content>p {
  font-size: 20px;
}


#company-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  align-self: center;
  width: 50%;
  height: 80%;
  margin-top: 7%;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.6px);
  -webkit-backdrop-filter: blur(5.6px);
  border: 1px solid rgba(49, 98, 92, 0.7);
  box-shadow: 8px 8px 8px black;
}

#company-img {
  display: flex;
  width: 25%;
  height: 30%;
}

#company-content>p {
  font-family: 'Quicksand', sans-serif;
  font-size: 22px;
  font-weight: 600;
  width: 80%;
}

main {
  display: flex;
  flex-flow: wrap;
  align-items: start;
  margin-top: 8%;
  margin-left: 6%;
  align-self: start;
  gap: 1.5%;
  width: 93.5%;
  height: 79%;
}

.produto {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 8px 8px 8px black;
  border-radius: 12px;
  width: 22.2vw;
  height: 35vh;
  gap: 2%;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.6px);
  -webkit-backdrop-filter: blur(5.6px);
  border: 1px solid rgba(49, 98, 92, 0.7);
  box-shadow: 8px 8px 8px black;
}

#aston {
  font-size: 17px;
}

.produto>img {
  aspect-ratio: 1/1;
  height: 60%;
  width: 100%;
  border-radius: 12px 12px 0px 0px;
}

.produto-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  border-radius: 100vw;
  flex: 1 1 20%;
  cursor: pointer;
  z-index: 2;
  color: white !important;
  margin-bottom: 5%;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
  position: relative;
  transition: 0.25s all ease-in-out;
  width: 70%;
  height: 90%;
  background-color: rgb(255, 56, 56);
  box-shadow: 8px 8px 8px black;
}

.produto-btn::before {
  content: "";
  transition: 0.25s all linear;
  position: absolute;
  width: 10%;
  height: 100%;
  color: white;
  inset: 0;
  border-radius: 100vw;
  z-index: -1;
}

* {
  box-sizing: border-box
}

body {
  font-family: Verdana, sans-serif;
  margin: 0
}

.mySlides {
  display: none;
  height: 50vh;
  width: 100vw;
}

.mySlides img {
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  box-shadow: 8px 8px 8px black;
  top: 11%;
}

.prev {
  left: 5%;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@media (max-width: 768px) {
  #sidebar {
    width: 0%;
  }

  .dropdowncontent {
    display: none;
  }

  header>p {
    font-size: 500%;
    margin-left: 32%;
  }

  header>img {
    right: 5%;
  }

  .content {
    height: 27%;
    width: 100%;
    margin-top: 27%;
  }

  .openSideBarIcons {
    margin-left: 22% !important;
  }

  #description-container {
    width: 90%;
    height: 35%;
    margin-left: 5%;
  }

  #description-title {
    font-size: 12px;
    padding: 0.5rem;
    width: 60%;
  }
  
  #description-btn {
    width: 30vw;
  }

  #description-text {
    font-size: 11px;
    width: 60%;
  }

  #contact-selection {
    width: 95%;
    height: 50%;
  }

  #mail-tab {
    width: 100%;
    height: 50%;
    left: 4%;
    position: absolute;
  }

  #send {
    width: 60%;
    margin-top: 20%;
  }

  form {
    /* position: absolute; */
    width: 100%;
    height: 100%;
  }

  #company-content {
    width: 90%;
    height: 60%;
    margin-top: 40%;
  }

  #company-content > p {
    font-size: 12px;
  }

  main {
    width: 100%;
    height: 40%;
    margin-top: 20%;
    margin-right: 8%;
    gap: 5%;

  }

  #market-body {
    overflow: visible !important;
    background-size: cover;
    background-repeat: repeat;
  }

  .produto {
    width: 43vw;
    height: 35vh;
    font-size: 14px;
  }

  #aston {
    font-size: 14px;
  }

  #project-content {
    width: 80%;
    height: 80%;
    margin-top: 22%;
  }

  #text-content > p {
    font-size: 14px;
  }

  #text-content > h1 {
    font-size: 22px;
  }
}